.faq-detail-page {
    min-height: 100vh;
    color: #6e6e73;
    background-color: #f5f5f7
}

.faq-detail-page .page-wrapper {
    width: 100%
}

.faq-detail-page .page-wrapper .breadcrumb-nav {
    width: 87.5%;
    max-width: 996px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    color: #6e6e73;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -.42px
}

.faq-detail-page .page-wrapper .breadcrumb-nav .breadcrumb-link {
    color: inherit;
    text-decoration: none
}

.faq-detail-page .page-wrapper .breadcrumb-nav .breadcrumb-link:hover {
    color: #343436
}

.faq-detail-page .page-wrapper .breadcrumb-nav .breadcrumb-separator {
    margin-left: 5px;
    margin-right: 5px
}

.faq-detail-page .page-wrapper .page-main {
    width: 100%;
    min-height: calc(100vh - 64px);
    background-color: #fff
}

.faq-detail-page .page-wrapper .page-main .page-main-container {
    width: 87.5%;
    max-width: 996px;
    margin: 0 auto;
    padding: 50px 0
}

.faq-detail-page .page-wrapper .page-main .page-main-container .page-title {
    color: #151413;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.96px;
    padding-bottom: 50px;
    border-bottom: 1px solid #D2D2D7;
    margin-bottom: 0
}

.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper {
    padding-top: 50px;
    width: 100%;
    display: flex;
    gap: 40px
}

.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper aside {
    width: 240px;
    background-color: #f5f5f7;
    padding: 10px 10px 10px 20px;
    height: 80vh;
    max-height: 900px;
    overflow-x: hidden;
    overflow-y: auto;
    position: sticky;
    top: 20px;
    flex-shrink: 0;
    text-align: left;
    scrollbar-width: thin;
    scrollbar-color: #D0D0D0 #F5F5F7
}

.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper aside:hover {
    scrollbar-color: #6E6E73 #F5F5F7
}

.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper aside::-webkit-scrollbar {
    width: 6px
}

.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper aside::-webkit-scrollbar-thumb {
    border-radius: 3px
}

.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper aside .toc-title {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -.42px;
    padding: 12px 0 17px;
    border-bottom: 1px solid #D2D2D7;
    margin-bottom: 0
}

.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper aside .toc-subtitle {
    color: #343436;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -.36px;
    padding: 17px 0 12px;
    margin-bottom: 0
}

.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper aside .toc-list {
    list-style: none;
    padding: 0;
    margin: 0
}

.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper aside .toc-list .toc-item .toc-link {
    width: 100%;
    text-decoration: none;
    color: #6e6e73;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -.36px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 10px 10px 0;
    cursor: pointer;
    user-select: none;
    border: none;
    background: none;
    font-family: inherit;
    transition: color .2s ease
}

.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper aside .toc-list .toc-item .toc-link .toc-arrow {
    display: flex;
    align-items: flex-start;
    width: 10px;
    height: 10px;
    transition: transform .2s ease
}

.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper aside .toc-list .toc-item .toc-link .toc-arrow.collapsed {
    transform: rotate(-90deg)
}

.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper aside .toc-list .toc-item .toc-link:hover {
    color: #0071e3
}

.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper aside .toc-list .toc-item .toc-sublist {
    list-style: none;
    padding: 0;
    max-height: 1000px;
    overflow: hidden;
    transition: max-height .3s ease, opacity .3s ease;
    opacity: 1
}

.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper aside .toc-list .toc-item .toc-sublist.collapsed {
    max-height: 0;
    opacity: 0
}

.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper aside .toc-list .toc-item .toc-sublist .toc-subitem .toc-link {
    text-decoration: none;
    color: #6e6e73;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -.36px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 10px 8px 12px;
    cursor: pointer;
    user-select: none;
    border: none;
    background: none;
    font-family: inherit;
    transition: color .2s ease
}

.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper aside .toc-list .toc-item .toc-sublist .toc-subitem .toc-link:hover{
    color: #0071e3
}

.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper aside .toc-list .toc-item .toc-sublist .toc-subitem .toc-nested-list {
    list-style: none;
    padding: 0;
    max-height: 1000px;
    overflow: hidden;
    transition: max-height .3s ease, opacity .3s ease;
    opacity: 1
}

.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper aside .toc-list .toc-item .toc-sublist .toc-subitem .toc-nested-list.collapsed {
    max-height: 0;
    opacity: 0
}

.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper aside .toc-list .toc-item .toc-sublist .toc-subitem .toc-nested-list .toc-nested-item .toc-nested-link {
    text-decoration: none;
    color: #6e6e73;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -.36px;
    cursor: pointer;
    user-select: none;
    border: none;
    background: none;
    font-family: inherit;
    transition: color .2s ease;
    padding: 8px 10px 8px 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap
}

.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper aside .toc-list .toc-item .toc-sublist .toc-subitem .toc-nested-list .toc-nested-item.active .toc-nested-link {
    color: #0071e3
}

.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content {
    text-align: left
}

.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-title {
    color: #151413;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.96px;
    margin-bottom: 24px
}

.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article h1 {
    color: #343436;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.96px;
    margin-bottom: 24px
}

.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article h2 {
    color: #343436;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.84px;
    margin-bottom: 20px
}

.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article h3 {
    color: #343436;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -0.72px;
    margin-bottom: 16px
}

.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article h4 {
    color: #343436;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -0.6px;
    margin-bottom: 12px
}

.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article h5 {
    color: #343436;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.54px;
    margin-bottom: 8px
}

.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article h6 {
    color: #6E6E73;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -.42px;
    margin-bottom: 8px
}

.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article p {
    color: #343436;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -.36px;
    margin-bottom: 10px
}

.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 30px
}

.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article table {
    width: 100%;
    border-collapse: collapse;
    background: #f5f5f7;
    margin-bottom: 30px
}

.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article table th {
    color: #343436;
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -.42px;
    padding: 12px 20px;
    border: 1px solid #fff;
    white-space: nowrap
}

.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article table th h1,
.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article table th h2,
.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article table th h3,
.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article table th h4,
.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article table th h5,
.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article table th h6,
.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article table th p {
    color: inherit;
    margin-bottom: 0
}

.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article table td {
    color: #6e6e73;
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -.36px;
    padding: 12px 20px;
    border: 1px solid #fff
}

.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article table td h1,
.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article table td h2,
.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article table td h3,
.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article table td h4,
.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article table td h5,
.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article table td h6,
.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article table td p {
    color: inherit;
    margin-bottom: 0
}

.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article table td a{
    color: #0071e3;
    text-decoration: underline;
}

.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article ul,
.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article ol {
    padding-left: 20px;
    margin-bottom: 30px
}

.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article ul li,
.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article ol li {
    color: #343436;
    font-size: 16px;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: -0.48px;
    margin-bottom: 0
}

.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article ul li h1,
.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article ul li h2,
.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article ul li h3,
.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article ul li h4,
.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article ul li h5,
.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article ul li h6,
.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article ul li p,
.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article ol li h1,
.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article ol li h2,
.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article ol li h3,
.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article ol li h4,
.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article ol li h5,
.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article ol li h6,
.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article ol li p {
    margin-bottom: 0
}

.faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article ul li::marker {
    font-size: 10px
}

.faq-detail-page .contents-trigger-btn {
    display: none
}

.faq-detail-page .mobile-overlay {
    position: fixed;
    inset: 0;
    z-index: 100;
    background-color: #00000080;
    transition: opacity .3s ease;
    opacity: 0;
    pointer-events: none
}

.faq-detail-page .mobile-overlay.open {
    opacity: 1;
    pointer-events: auto
}

.faq-detail-page .mobile-sheet {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 101;
    display: flex;
    flex-direction: column;
    height: 60vh;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    background-color: #fff;
    transition: transform .3s cubic-bezier(.4, 0, .2, 1);
    transform: translateY(100%);
    box-shadow: 0 -8px 30px #00000026
}

.faq-detail-page .mobile-sheet.open {
    transform: translateY(0)
}

.faq-detail-page .mobile-sheet .mobile-sheet-header {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #D2D2D7;
    background-color: #fff;
    padding: 16px 24px
}

.faq-detail-page .mobile-sheet .mobile-sheet-header .mobile-sheet-title {
    color: #343436;
    font-family: HarmonyOS Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -.36px
}

.faq-detail-page .mobile-sheet .mobile-sheet-header .mobile-sheet-close-btn {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: 0;
    line-height: 0;
    color: #343436
}

.faq-detail-page .mobile-sheet .mobile-sheet-content {
    flex: 1;
    overflow-y: auto;
    padding: 16px;
    text-align: left
}

.faq-detail-page .mobile-sheet .mobile-sheet-content .mobile-accordion-item .mobile-accordion-header {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    padding: 12px 8px
}

.faq-detail-page .mobile-sheet .mobile-sheet-content .mobile-accordion-item .mobile-accordion-header .mobile-accordion-title {
    color: #6e6e73;
    font-family: HarmonyOS Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -.36px
}

.faq-detail-page .mobile-sheet .mobile-sheet-content .mobile-accordion-item .mobile-accordion-header .mobile-accordion-arrow {
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    transition: transform .3s ease-out
}

.faq-detail-page .mobile-sheet .mobile-sheet-content .mobile-accordion-item .mobile-accordion-header .mobile-accordion-arrow.rotated {
    transform: rotate(180deg)
}

.faq-detail-page .mobile-sheet .mobile-sheet-content .mobile-accordion-item .mobile-accordion-content {
    transition: max-height .3s ease-out;
    max-height: 0;
    overflow: hidden
}

.faq-detail-page .mobile-sheet .mobile-sheet-content .mobile-accordion-item .mobile-accordion-content .mobile-accordion-list .mobile-accordion-product-item .mobile-accordion-product-header {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    padding: 12px 8px 12px 24px;
    color: #6e6e73;
    font-family: HarmonyOS Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -.36px;
    transition: color .2s ease
}

.faq-detail-page .mobile-sheet .mobile-sheet-content .mobile-accordion-item .mobile-accordion-content .mobile-accordion-list .mobile-accordion-product-item .mobile-accordion-product-header .mobile-accordion-product-arrow {
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    transition: transform .3s ease-out
}

.faq-detail-page .mobile-sheet .mobile-sheet-content .mobile-accordion-item .mobile-accordion-content .mobile-accordion-list .mobile-accordion-product-item .mobile-accordion-product-header .mobile-accordion-product-arrow.rotated {
    transform: rotate(180deg)
}

.faq-detail-page .mobile-sheet .mobile-sheet-content .mobile-accordion-item .mobile-accordion-content .mobile-accordion-list .mobile-accordion-product-item .mobile-accordion-product-content {
    transition: max-height .3s ease-out;
    max-height: 0;
    overflow: hidden
}

.faq-detail-page .mobile-sheet .mobile-sheet-content .mobile-accordion-item .mobile-accordion-content .mobile-accordion-list .mobile-accordion-product-item .mobile-accordion-product-content .mobile-accordion-article-list .mobile-accordion-article-item {
    display: block;
    padding: 12px 30px 12px 36px;
    color: #6e6e73;
    font-family: HarmonyOS Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -.36px;
    transition: color .2s ease;
    text-decoration: none
}

.faq-detail-page .mobile-sheet .mobile-sheet-content .mobile-accordion-item .mobile-accordion-content .mobile-accordion-list .mobile-accordion-product-item .mobile-accordion-product-content .mobile-accordion-article-list .mobile-accordion-article-item.active {
    color: #0071e3
}

.faq-detail-page .mobile-sheet .mobile-sheet-content .mobile-accordion-item .mobile-accordion-content .mobile-accordion-list .mobile-accordion-product-item .mobile-accordion-product-content.open,
.faq-detail-page .mobile-sheet .mobile-sheet-content .mobile-accordion-item .mobile-accordion-content.open {
    max-height: 1000px
}

@media (min-width: 768px) {

    .contents-trigger-btn,
    .mobile-overlay,
    .mobile-sheet {
        display: none !important
    }
}

@media (max-width: 767px) {
    .faq-detail-page .page-wrapper .breadcrumb-nav {
        width: 100%;
        font-size: 12px;
        padding: 16px;
        white-space: nowrap;
        letter-spacing: -.3px
    }

    .faq-detail-page .page-wrapper .breadcrumb-nav .breadcrumb-separator {
        margin-left: 0;
        margin-right: 0
    }

    .faq-detail-page .page-wrapper .breadcrumb-nav .breadcrumb-current {
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .faq-detail-page .page-wrapper .page-main {
        min-height: calc(100vh - 54px)
    }

    .faq-detail-page .page-wrapper .page-main .page-main-container {
        width: 100%;
        padding: 40px 22px
    }

    .faq-detail-page .page-wrapper .page-main .page-main-container .page-title {
        font-size: 28px;
        line-height: 125%;
        letter-spacing: -0.84px;
        padding-bottom: 40px
    }

    .faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper {
        padding-top: 12px;
        flex-direction: column;
        gap: 22px
    }

    .faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .contents-trigger-btn {
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 8px 0;
        color: #0071e3;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400
    }

    .faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper aside.page-aside {
        display: none
    }

    .faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-title {
        font-size: 28px;
        line-height: 125%;
        letter-spacing: -0.84px
    }

    .faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article h1 {
        font-size: 28px;
        line-height: 125%;
        letter-spacing: -0.84px
    }

    .faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article h2 {
        font-size: 24px;
        line-height: 130%;
        letter-spacing: -0.72px
    }

    .faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article h3 {
        font-size: 20px;
        line-height: 130%;
        letter-spacing: -0.6px
    }

    .faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article h4 {
        font-size: 18px;
        line-height: 140%;
        letter-spacing: -0.54px
    }

    .faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article h5 {
        font-size: 16px;
        line-height: 140%;
        letter-spacing: -0.48px
    }

    .faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article h6 {
        font-size: 14px;
        line-height: 150%;
        letter-spacing: -0.42px
    }

    .faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article p {
        font-size: 14px;
        line-height: 140%;
        letter-spacing: -0.28px
    }

    .faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article table {
        margin-bottom: 20px
    }

    .faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article table h1,
    .faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article table h2,
    .faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article table h3,
    .faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article table h4,
    .faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article table h5,
    .faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article table h6,
    .faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article table p {
        margin-bottom: 0
    }

    .faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article table th,
    .faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article table td {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -.3px;
        padding: 12px 10px
    }

    .faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article ul,
    .faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article ol {
        padding-left: 16px;
        margin-bottom: 20px;
    }

    .faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article ul li,
    .faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article ol li {
        font-size: 14px;
        line-height: 130%;
        letter-spacing: -0.28px;
        margin-bottom: 0;
    }

    .faq-detail-page .page-wrapper .page-main .page-main-container .page-main-wrapper .page-main-content .page-main-article ul li::marker{
        font-size: 8px;
    }
}