.process-page {
    min-height: 100vh;
    color: #6e6e73;
    background-color: #f5f5f7;
    padding-bottom: 100px
}

.process-page .page-wrapper {
    width: 87.5%;
    max-width: 996px;
    margin: 0 auto;
    padding: 20px 0
}

.process-page .page-wrapper .breadcrumb-nav {
    display: flex;
    align-items: center;
    color: #6e6e73;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -.42px
}

.process-page .page-wrapper .breadcrumb-nav .breadcrumb-link {
    color: inherit;
    text-decoration: none
}

.process-page .page-wrapper .breadcrumb-nav .breadcrumb-link:hover {
    color: #343436
}

.process-page .page-wrapper .breadcrumb-nav .breadcrumb-separator {
    margin-left: 5px;
    margin-right: 5px
}

.process-page .page-wrapper .page-main,
.process-page .page-wrapper .page-note {
    width: 100%;
    border-radius: 18px;
    background: #fff;
    padding: 50px 80px 70px;
    text-align: left;
    margin-top: 70px
}

.process-page .page-wrapper .page-note {
    margin-top: 20px;
}

.process-page .page-wrapper .page-main .page-title,
.process-page .page-wrapper .page-note .page-note-title {
    color: #151413;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.84px;
    margin-bottom: 0
}

.process-page .page-wrapper .page-main .page-subtitle,
.process-page .page-wrapper .page-note .page-note-subtitle {
    color: #343436;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.72px;
    margin-top: 32px;
    margin-bottom: 0
}

.process-page .page-wrapper .page-note .page-note-subtitle {
    margin-top: 0;
}

.process-page .page-wrapper .page-main .page-flow {
    width: 100%;
    padding-top: 50px;
}

.process-page .page-wrapper .page-main .page-stepper {
    --step-circle: 48px;
    --step-first-width: 120px;
    --step-second-width: 187px;
    --step-third-width: 120px;
    --step-fourth-width: 129px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.process-page .page-wrapper .page-main .page-stepper::before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    width: calc(var(--step-first-width) + var(--step-second-width) + var(--step-third-width) + var(--step-fourth-width) + var(--step-circle) * 3);
    top: calc(var(--step-circle) / 2 - 1px);
    height: 2px;
    background: var(--step-blue, #0071E3);
}

.process-page .page-wrapper .page-main .page-stepper-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 1;
    gap: 22px;
}

.process-page .page-wrapper .page-main .page-stepper-num {
    width: var(--step-circle);
    height: var(--step-circle);
    border-radius: 50%;
    background: var(--step-blue, #0071E3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    color: #F5F5F5;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -0.48px;
}

.process-page .page-wrapper .page-main .page-stepper-text {
    color: #343436;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.42px;
}

.process-page .page-wrapper .page-main .page-main-content,
.process-page .page-wrapper .page-note .page-note-content {
    border-top: 1px solid #D2D2D7;
    margin-top: 40px;
    padding-top: 40px;
    width: 100%;
    text-align: left;
}

.process-page .page-wrapper .page-note .page-note-content {
    border-top: none;
    margin-top: 0;
    padding-top: 30px;
}

.process-page .page-wrapper .page-main .page-main-content h1,
.process-page .page-wrapper .page-main .page-main-content h2,
.process-page .page-wrapper .page-main .page-main-content h3,
.process-page .page-wrapper .page-main .page-main-content h4,
.process-page .page-wrapper .page-main .page-main-content h5,
.process-page .page-wrapper .page-main .page-main-content h6,
.process-page .page-wrapper .page-note .page-note-content h1,
.process-page .page-wrapper .page-note .page-note-content h2,
.process-page .page-wrapper .page-note .page-note-content h3,
.process-page .page-wrapper .page-note .page-note-content h4,
.process-page .page-wrapper .page-note .page-note-content h5,
.process-page .page-wrapper .page-note .page-note-content h6 {
    color: #343436;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.42px;
    margin-bottom: 10px;
}

.process-page .page-wrapper .page-main .page-main-content p,
.process-page .page-wrapper .page-main .page-main-content [bke-role="paragraph"],
.process-page .page-wrapper .page-note .page-note-content p,
.process-page .page-wrapper .page-note .page-note-content [bke-role="paragraph"] {
    color: #6E6E73;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.36px;
    margin-bottom: 30px;
}

.process-page .page-wrapper .page-main .page-main-content a,
.process-page .page-wrapper .page-note .page-note-content a {
    color: #0071E3;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.36px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.process-page .page-wrapper .page-main .page-main-content ul,
.process-page .page-wrapper .page-note .page-note-content ul,
.process-page .page-wrapper .page-main .page-main-content ol,
.process-page .page-wrapper .page-note .page-note-content ol {
    margin-bottom: 30px;
}

.process-page .page-wrapper .page-main .page-main-content ul li p,
.process-page .page-wrapper .page-main .page-main-content ul li [bke-role="paragraph"],
.process-page .page-wrapper .page-note .page-note-content ul li p,
.process-page .page-wrapper .page-note .page-note-content ul li [bke-role="paragraph"],
.process-page .page-wrapper .page-main .page-main-content ol li p,
.process-page .page-wrapper .page-main .page-main-content ol li [bke-role="paragraph"],
.process-page .page-wrapper .page-note .page-note-content ol li p,
.process-page .page-wrapper .page-note .page-note-content ol li [bke-role="paragraph"] {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .process-page .page-wrapper .page-main .page-stepper-item:nth-child(1) {
        width: var(--step-first-width);
    }

    .process-page .page-wrapper .page-main .page-stepper-item:nth-child(2) {
        width: var(--step-second-width);
    }

    .process-page .page-wrapper .page-main .page-stepper-item:nth-child(3) {
        width: var(--step-third-width);
    }

    .process-page .page-wrapper .page-main .page-stepper-item:nth-child(4) {
        width: var(--step-fourth-width);
    }
}

@media (max-width: 767px) {
    .process-page {
        padding-bottom: 0
    }

    .process-page .page-wrapper {
        width: 100%;
        padding: 0
    }

    .process-page .page-wrapper .breadcrumb-nav {
        font-size: 12px;
        padding: 16px
    }

    .process-page .page-wrapper .breadcrumb-nav .breadcrumb-separator {
        margin-left: 0;
        margin-right: 0
    }

    .process-page .page-wrapper .page-main,
    .process-page .page-wrapper .page-note {
        margin-top: 0;
        border-radius: 0;
        padding: 40px 22px 50px
    }

    .process-page .page-wrapper .page-main .page-title,
    .process-page .page-wrapper .page-note .page-note-title {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -.72px;
        margin-bottom: 10px;
    }

    .process-page .page-wrapper .page-main .page-subtitle,
    .process-page .page-wrapper .page-note .page-note-subtitle {
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -.6px;
        padding: 10px 0;
        margin-top: 0;
    }

    .process-page .page-wrapper .page-main .page-flow {
        padding-top: 40px;
    }

    .process-page .page-wrapper .page-main .page-stepper {
        --step-circle: 50px;
        flex-direction: column;
        align-items: stretch;
        gap: 40px;
    }

    .process-page .page-wrapper .page-main .page-stepper::before {
        left: calc(var(--step-circle) / 2 - 1px);
        right: auto;
        top: calc(var(--step-circle) / 2);
        bottom: calc(var(--step-circle) / 2);
        width: 2px;
        height: auto;
    }

    .process-page .page-wrapper .page-main .page-stepper-item {
        flex: 1;
        flex-direction: row;
        align-items: center;
        text-align: left;
        gap: 20px;
    }

    .process-page .page-wrapper .page-main .page-stepper-num {
        font-size: 24px;
        letter-spacing: -0.72px;
        font-weight: 500;
    }

    .process-page .page-wrapper .page-main .page-stepper-text {
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        letter-spacing: -0.48px;
    }
}